<li class="menu-link">
  <a href="{{ block.settings.menu_single_url }}" class="link-title" style="--font-size: {{ section.settings.menu_font_size }}px; --font-size-lg: {{ section.settings.menu_font_size_lg }}px; --padding: {{ section.settings.menu_padding_y }}px {{ section.settings.menu_padding_x }}px; --padding-lg: {{ section.settings.menu_padding_y_lg }}px {{ section.settings.menu_padding_x_lg }}px; --text-transform: {{ section.settings.menu_text_transform }};  --font-weight: {{ section.settings.menu_font_weight }};">
    <span class="sp-link-title">{{ block.settings.menu_single_title }}{% if block.settings.menu_single_label != '' %}<span class="{{ section.id }}-{{ block.id }}-label">{{ block.settings.menu_single_label }}</span>{% endif %}</span>
    <span class="menu-arrow"><i class="fa fa-angle-down"></i></span>
  </a>
  <div class="link-title-lg">
    <a href="{{ block.settings.menu_single_url }}" class="sp-link-title">{{ block.settings.menu_single_title }}</a>
    <a href="#single-collapse-{{ block.settings.menu_single_title | handleize }}" data-bs-toggle="collapse"  class="menu-arrow"><i class="feather-plus"></i></a>
  </div>
  <ul class="menu-dropdown single-menu collapse" id="single-collapse-{{ block.settings.menu_single_title | handleize }}">
    {% assign menu_single_select = block.settings.menu_single_select %}
    {% for link in linklists[menu_single_select].links %}
    {% if linklists[menu_single_select].links != '' %}
    <li class="singlemenu-li">
      <a href="{{ link.url }}" class="singlelink-title">
        <span class="sp-link-title">{{ link.title }}</span>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</li>
<style>
  /*=====================================
    header label css
  ======================================*/
  a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
    color: {{ block.settings.menu_single_label_color }};
    font-size: {{ block.settings.menu_single_label_font_size }}px;
    padding: 2px 5px;
    position: absolute;
    top: -{{ block.settings.menu_single_label_top_position }}px;
    {% if settings.enable_rtl %}
    left: 0;
    transform: translateX(-100%);
    {% else %}
    right: 0;
    transform: translateX(100%);
    {% endif %}
    background-color: {{ block.settings.menu_single_label_bgcolor }};
    text-transform: {{ block.settings.menu_single_label_text_transform }};
    font-weight: {{ block.settings.menu_single_label_font-weight }};
    border-radius: {{ block.settings.menu_single_label_border_radius }}px;
    line-height: {{ block.settings.menu_single_label_line_height }};
  }
  a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label::before {
    content: "";
    position: absolute;
    bottom: -4px;
    {% if settings.enable_rtl %}
    right: 0;
    {% else %}
    left: 0;
    {% endif %}
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    {% if settings.enable_rtl %}
    border-right: 4px solid {{ block.settings.menu_single_label_bgcolor }};
    {% else %}
    border-left: 4px solid {{ block.settings.menu_single_label_bgcolor }};
    {% endif %}
  }
  @media (max-width: 1199px) {
    a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
      top: -8px;
    }
  }
</style>