<li class="menu-link">
  <a href="{{ block.settings.menu_shop_url }}" class="link-title" style="--font-size: {{ section.settings.menu_font_size }}px; --font-size-lg: {{ section.settings.menu_font_size_lg }}px; --padding: {{ section.settings.menu_padding_y }}px {{ section.settings.menu_padding_x }}px; --padding-lg: {{ section.settings.menu_padding_y_lg }}px {{ section.settings.menu_padding_x_lg }}px; --text-transform: {{ section.settings.menu_text_transform }};  --font-weight: {{ section.settings.menu_font_weight }};">
    <span class="sp-link-title">{{ block.settings.menu_shop_title }}{% if block.settings.menu_shop_label != '' %}<span class="{{ section.id }}-{{ block.id }}-label">{{ block.settings.menu_shop_label }}</span>{% endif %}</span>
    <span class="menu-arrow"><i class="fa fa-angle-down"></i></span>
  </a>
  <div class="link-title-lg">
    <a href="{{ block.settings.menu_shop_url }}" class="sp-link-title">{{ block.settings.menu_shop_title }}</a>
    <a href="#single-collapse-{{ block.settings.menu_shop_title | handleize }}" data-bs-toggle="collapse" class="menu-arrow"><i class="feather-plus"></i></a>
  </div>
  <ul class="menu-dropdown shop-menu collapse" id="single-collapse-{{ block.settings.menu_shop_title | handleize }}">
    <div class="container-fluid">
      <div class="ul">
        {% if block.settings.menu_shop_collection_select1 != '' %}
        {%- assign menu_shop_collection_select1 = block.settings.menu_shop_collection_select1 -%}
        <li class="shoplink-li menu-li">
          {% for link in linklists[menu_shop_collection_select1].links %}
          <div class="shop-title">
            <a href="{{ link.url }}">{{ link.title | upcase }}</a>
          </div>
          {% endfor %}
        </li>
        {% else %}
        {%- assign menu_shop_select1 = block.settings.menu_shop_select1 -%}
        {% for link in linklists[menu_shop_select1].links %}
        {% assign sublink = link.title | handle %}
        {% if linklists[sublink].links != '' %}
        <li class="shoplink-li">
          <a href="{{ link.url }}" class="shoplink-title">
            <span class="sp-link-title">{{ link.title }}</span>
          </a>
          <div class="shoplink-title shoplink-title-lg">
            <a href="{{ link.url }}" class="sp-link-title">{{ link.title }}</a>
            <a href="#shopsup-collapse-{{ link.title | handleize }}" data-bs-toggle="collapse" class="menu-arrow"><i class="feather-plus"></i></a>
          </div>
          <ul class="shopsupmenu-dropdown collapse" id="shopsup-collapse-{{ link.title | handleize }}">
            {% for sublink in linklists[sublink].links %}
            <li class="shopsupmenu-li">
              <a href="{{ sublink.url }}" class="shopsuplink-title">
                <span class="sp-link-title">{{ sublink.title }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}

        {% if block.settings.menu_shop_collection_select2 != '' %}
        {%- assign menu_shop_collection_select2 = block.settings.menu_shop_collection_select2 -%}
        <li class="shoplink-li menu-li">
          {% for link in linklists[menu_shop_collection_select2].links %}
          <div class="shop-title">
            <a href="{{ link.url }}">{{ link.title | upcase }}</a>
          </div>
          {% endfor %}
        </li>
        {% else %}
        {%- assign menu_shop_select2 = block.settings.menu_shop_select2 -%}
        {% for link in linklists[menu_shop_select2].links %}
        {% assign sublink = link.title | handle %}
        {% if linklists[sublink].links != '' %}
        <li class="shoplink-li">
          <a href="{{ link.url }}" class="shoplink-title">
            <span class="sp-link-title">{{ link.title }}</span>
          </a>
          <div class="shoplink-title shoplink-title-lg">
            <a href="{{ link.url }}" class="sp-link-title">{{ link.title }}</a>
            <a href="#shopsup-collapse-{{ link.title | handleize }}" data-bs-toggle="collapse" class="menu-arrow"><i class="feather-plus"></i></a>
          </div>
          <ul class="shopsupmenu-dropdown collapse" id="shopsup-collapse-{{ link.title | handleize }}">
            {% for sublink in linklists[sublink].links %}
            <li class="shopsupmenu-li">
              <a href="{{ sublink.url }}" class="shopsuplink-title">
                <span class="sp-link-title">{{ sublink.title }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}

        {% if block.settings.menu_shop_collection_select3 != '' %}
        {%- assign menu_shop_collection_select3 = block.settings.menu_shop_collection_select3 -%}
        <li class="shoplink-li menu-li">
          {% for link in linklists[menu_shop_collection_select3].links %}
          <div class="shop-title">
            <a href="{{ link.url }}">{{ link.title | upcase }}</a>
          </div>
          {% endfor %}
        </li>
        {% else %}
        {%- assign menu_shop_select3 = block.settings.menu_shop_select3 -%}
        {% for link in linklists[menu_shop_select3].links %}
        {% assign sublink = link.title | handle %}
        {% if linklists[sublink].links != '' %}
        <li class="shoplink-li">
          <a href="{{ link.url }}" class="shoplink-title">
            <span class="sp-link-title">{{ link.title }}</span>
          </a>
          <div class="shoplink-title shoplink-title-lg">
            <a href="{{ link.url }}" class="sp-link-title">{{ link.title }}</a>
            <a href="#shopsup-collapse-{{ link.title | handleize }}" data-bs-toggle="collapse" class="menu-arrow"><i class="feather-plus"></i></a>
          </div>
          <ul class="shopsupmenu-dropdown collapse" id="shopsup-collapse-{{ link.title | handleize }}">
            {% for sublink in linklists[sublink].links %}
            <li class="shopsupmenu-li">
              <a href="{{ sublink.url }}" class="shopsuplink-title">
                <span class="sp-link-title">{{ sublink.title }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}

        {% if block.settings.menu_shop_collection_select4 != '' %}
        {%- assign menu_shop_collection_select4 = block.settings.menu_shop_collection_select4 -%}
        <li class="shoplink-li menu-li">
          {% for link in linklists[menu_shop_collection_select4].links %}
          <div class="shop-title">
            <a href="{{ link.url }}">{{ link.title | upcase }}</a>
          </div>
          {% endfor %}
        </li>
        {% else %}
        {%- assign menu_shop_select4 = block.settings.menu_shop_select4 -%}
        {% for link in linklists[menu_shop_select4].links %}
        {% assign sublink = link.title | handle %}
        {% if linklists[sublink].links != '' %}
        <li class="shoplink-li">
          <a href="{{ link.url }}" class="shoplink-title">
            <span class="sp-link-title">{{ link.title }}</span>
          </a>
          <div class="shoplink-title shoplink-title-lg">
            <a href="{{ link.url }}" class="sp-link-title">{{ link.title }}</a>
            <a href="#shopsup-collapse-{{ link.title | handleize }}" data-bs-toggle="collapse" class="menu-arrow"><i class="feather-plus"></i></a>
          </div>
          <ul class="shopsupmenu-dropdown collapse" id="shopsup-collapse-{{ link.title | handleize }}">
            {% for sublink in linklists[sublink].links %}
            <li class="shopsupmenu-li">
              <a href="{{ sublink.url }}" class="shopsuplink-title">
                <span class="sp-link-title">{{ sublink.title }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}
        {%- if block.settings.menu_shop_banner_img1 -%}
        <li class="shoplink-li shoplink-br">
          <div class="shop-banner banner-hover">
            <a href="{{ block.settings.menu_shop_banner_url1 }}" class="banner-img">
              {{ block.settings.menu_shop_banner_img1 | image_url: width: 500 | image_tag:
                loading: 'lazy',
                width: block.settings.menu_shop_banner_img1.width,
                height: block.settings.menu_shop_banner_img1.height,
                class: "img-fluid lazyload",
                alt: block.settings.menu_shop_banner_img1.alt | escape }}
            </a>
          </div>
        </li>
        {%- endif -%}
      </div>
    </div>
  </ul>
</li>
<style>
  /*=====================================
    header label css
  ======================================*/
  a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
    color: {{ block.settings.menu_shop_label_color }};
    font-size: {{ block.settings.menu_shop_label_font_size }}px;
    padding: 2px 5px;
    position: absolute;
    top: -{{ block.settings.menu_shop_label_top_position }}px;
    {% if settings.enable_rtl %}
    left: 0;
    transform: translateX(-100%);
    {% else %}
    right: 0;
    transform: translateX(100%);
    {% endif %}
    background-color: {{ block.settings.menu_shop_label_bgcolor }};
    text-transform: {{ block.settings.menu_shop_label_text_transform }};
    font-weight: {{ block.settings.menu_shop_label_font-weight }};
    border-radius: {{ block.settings.menu_shop_label_border_radius }}px;
    line-height: {{ block.settings.menu_shop_label_line_height }};
  }
  a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label::before {
    content: "";
    position: absolute;
    bottom: -4px;
    {% if settings.enable_rtl %}
    right: 0;
    {% else %}
    left: 0;
    {% endif %}
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    {% if settings.enable_rtl %}
    border-right: 4px solid {{ block.settings.menu_shop_label_bgcolor }};
    {% else %}
    border-left: 4px solid {{ block.settings.menu_shop_label_bgcolor }};
    {% endif %}
  }
  @media (max-width: 1199px) {
    a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
      top: -8px;
    }
  }
</style>