<li class="menu-link">
  <a href="{{ block.settings.menu_link_url }}" class="link-title">
    {% if block.settings.menuvega_link_image %}
    <span class="menu-img-icon">
    {{ block.settings.menuvega_link_image
      | image_url: width: 100
      | image_tag:
        loading: 'lazy',
        width: block.settings.menuvega_link_image.width,
        height: block.settings.menuvega_link_image.height,
        class: 'img-fluid lazyload',
        alt: block.settings.menuvega_link_image.alt
      | escape }}
    </span>
    {% endif %}
    <span class="sp-link-title">{{ block.settings.menu_link_title }}{% if block.settings.menu_link_label != '' %}<span class="{{ section.id }}-{{ block.id }}-label">{{ block.settings.menu_link_label }}</span>{% endif %}</span>
  </a>
  <a href="{{ block.settings.menu_link_url }}" class="link-title-lg">
    <span class="sp-link-title">{{ block.settings.menu_link_title }}</span>
  </a>
</li>
<style>
/*=====================================
  header label css
======================================*/
a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
  color: {{ block.settings.menu_link_label_color }};
  font-size: {{ block.settings.menu_link_label_font_size }}px;
  padding: 2px 5px;
  position: absolute;
  top: -{{ block.settings.menu_link_label_top_position }}px;
  {% if settings.enable_rtl %}
  left: 0;
  transform: translateX(-100%);
  {% else %}
  right: 0;
  transform: translateX(100%);
  {% endif %}
  background-color: {{ block.settings.menu_link_label_bgcolor }};
  text-transform: {{ block.settings.menu_link_label_text_transform }};
  font-weight: {{ block.settings.menu_link_label_font-weight }};
  border-radius: {{ block.settings.menu_link_label_border_radius }}px;
  line-height: {{ block.settings.menu_link_label_line_height }};
}
a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label::before {
  content: "";
  position: absolute;
  bottom: -4px;
  {% if settings.enable_rtl %}
  right: 0;
  {% else %}
  left: 0;
  {% endif %}
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  {% if settings.enable_rtl %}
  border-right: 4px solid {{ block.settings.menu_link_label_bgcolor }};
  {% else %}
  border-left: 4px solid {{ block.settings.menu_link_label_bgcolor }};
  {% endif %}
}
@media (max-width: 1199px) {
  a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
    top: -8px;
  }
}
</style>