<li class="menu-link">
  <a href="{{ block.settings.menu_product_url }}" class="link-title">
    {% if block.settings.menuvega_link_image %}
    <span class="menu-img-icon">
    {{ block.settings.menuvega_link_image
      | image_url: width: 100
      | image_tag:
        loading: 'lazy',
        width: block.settings.menuvega_link_image.width,
        height: block.settings.menuvega_link_image.height,
        class: 'img-fluid lazyload',
        alt: block.settings.menuvega_link_image.alt
      | escape }}
    </span>
    {% endif %}
    <span class="sp-link-title">{{ block.settings.menu_product_title }}{% if block.settings.menu_product_label != '' %}<span class="{{ section.id }}-{{ block.id }}-label">{{ block.settings.menu_product_label }}</span>{% endif %}</span>
    <span class="menu-arrow"><i class="fa fa-angle-down"></i></span>
  </a>
  <div class="link-title-lg">
    <a href="{{ block.settings.menu_product_url }}" class="sp-link-title">{{ block.settings.menu_product_title }}</a>
    <a href="#single-collapse-{{ block.settings.menu_product_title | handleize }}" data-bs-toggle="collapse" class="menu-arrow"><i class="feather-plus"></i></a>
  </div>
  <ul class="menu-dropdown menu-category collapse" id="single-collapse-{{ block.settings.menu_product_title | handleize }}">
    <div class="ul">
      {% if block.settings.menu_product_collection_select != '' %}
      {%- assign menu_product_collection_select = block.settings.menu_product_collection_select -%}
      <li class="productlink-li menu-li">
        {% for link in linklists[menu_product_collection_select].links %}
        <div class="shop-title">
          <a href="{{ link.url }}">{{ link.title | upcase }}</a>
        </div>
        {% endfor %}
      </li>
      {% else %}
      {% assign menu_product_select = block.settings.menu_product_select %}
      {% for link in linklists[menu_product_select].links %}
      {% assign sublink = link.title | handle %}
      {% if linklists[sublink].links != '' %}
      <li class="productlink-li">
        <a href="{{ link.url }}" class="productlink-title">
          <span class="sp-link-title">{{ link.title }}</span>
        </a>
        <div class="productlink-title productlink-title-lg">
          <a href="{{ link.url }}" class="sp-link-title">{{ link.title }}</a>
          <a href="#productsup-collapse-{{ link.title | handleize }}" data-bs-toggle="collapse" class="menu-arrow"><i class="feather-plus"></i></a>
        </div>
        <ul class="productsupmenu-dropdown collapse" id="productsup-collapse-{{ link.title | handleize }}">
          {% for sublink in linklists[sublink].links %}
          <li class="productsupmenu-li">
            <a href="{{ sublink.url }}" class="productsuplink-title">
              <span class="sp-link-title">{{ sublink.title }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% endfor %}      
      {% endif %}
      {% if block.settings.menu_product_collection_select2 != '' %}
      {%- assign menu_product_collection_select2 = block.settings.menu_product_collection_select2 -%}
      <li class="productlink-li menu-li">
        {% for link in linklists[menu_product_collection_select2].links %}
        <div class="shop-title">
          <a href="{{ link.url }}">{{ link.title | upcase }}</a>
        </div>
        {% endfor %}
      </li>
      {% else %}
      {% assign menu_product_select2 = block.settings.menu_product_select2 %}
      {% for link in linklists[menu_product_select2].links %}
      {% assign sublink = link.title | handle %}
      {% if linklists[sublink].links != '' %}
      <li class="productlink-li">
        <a href="{{ link.url }}" class="productlink-title">
          <span class="sp-link-title">{{ link.title }}</span>
        </a>
        <div class="productlink-title productlink-title-lg">
          <a href="{{ link.url }}" class="sp-link-title">{{ link.title }}</a>
          <a href="#productsup-collapse-{{ link.title | handleize }}" data-bs-toggle="collapse" class="menu-arrow"><i class="feather-plus"></i></a>
        </div>
        <ul class="productsupmenu-dropdown collapse" id="productsup-collapse-{{ link.title | handleize }}">
          {% for sublink in linklists[sublink].links %}
          <li class="productsupmenu-li">
            <a href="{{ sublink.url }}" class="productsuplink-title">
              <span class="sp-link-title">{{ sublink.title }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% endfor %}
      {% endif %}
      <li class="productlink-li menu-category">
        <div class="product-title">
          <h6>{{ block.settings.product_title }}</h6>
          <div class="swiper-buttons">
            <button class="swiper-prev swiper-prev-{{ block.id }}"><i class=" feather-arrow-left"></i></button>
            <button class="swiper-next swiper-next-{{ block.id }}"><i class=" feather-arrow-right"></i></button>
          </div>  
        </div>
        <div class="swiper" id="pro-{{ block.id }}" data-slides-per-view="2">
          <div class="swiper-wrapper">
            {%- if block.settings.menu_cat_banner_img1 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url1 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img1 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img1.width,
                  height: block.settings.menu_cat_banner_img1.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img1.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title1 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title1 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img2 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url2 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img2 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img2.width,
                  height: block.settings.menu_cat_banner_img2.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img2.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title2 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title2 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img3 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url3 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img3 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img3.width,
                  height: block.settings.menu_cat_banner_img3.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img3.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title3 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title3 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img4 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url4 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img4 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img4.width,
                  height: block.settings.menu_cat_banner_img4.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img4.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title4 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title4 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img5 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url5 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img5 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img5.width,
                  height: block.settings.menu_cat_banner_img5.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img5.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title5 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title5 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img6 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url6 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img6 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img6.width,
                  height: block.settings.menu_cat_banner_img6.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img6.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title6 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title6 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img7 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url7 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img7 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img7.width,
                  height: block.settings.menu_cat_banner_img7.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img7.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title7 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title7 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img8 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url8 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img8 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img8.width,
                  height: block.settings.menu_cat_banner_img8.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img8.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title8 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title8 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img9 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url9 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img9 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img9.width,
                  height: block.settings.menu_cat_banner_img9.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img9.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title9 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title9 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img10 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url10 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img10 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img10.width,
                  height: block.settings.menu_cat_banner_img10.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img10.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title10 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title10 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img11 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url11 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img11 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img11.width,
                  height: block.settings.menu_cat_banner_img11.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img11.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title11 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title11 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
            {%- if block.settings.menu_cat_banner_img12 -%}
            <div class="swiper-slide">
              <div class="cat-block banner-hover">
                <a href="{{ block.settings.menu_cat_banner_url12 }}" class="banner-img">
                  {{ block.settings.menu_cat_banner_img12 | image_url: width: 600 | image_tag:
                  loading: 'lazy',
                  width: block.settings.menu_cat_banner_img12.width,
                  height: block.settings.menu_cat_banner_img12.height,
                  class: "img-fluid lazyload",
                  alt: block.settings.menu_cat_banner_img12.alt | escape }}
                  {%- if block.settings.menu_cat_banner_title12 != '' -%}
                  <span>{{ block.settings.menu_cat_banner_title12 }}</span>
                  {%- endif -%}
                </a>
              </div>
            </div>
            {%- endif -%}
          </div>
        </div>
      </li>
    </div>
  </ul>
</li>

<script type="text/javascript">
  addEventListener('DOMContentLoaded', (event) => {
    var swiper = new Swiper('.swiper#pro-{{ block.id }}', {
      slidesPerView: 2,
      grid: {
        rows: 1,
        fill: 'row' | 'column',
      },
      spaceBetween: 30,
      observer: true,
      observeParents: true,
      watchSlidesProgress: true,
      {%- if settings.enable_rtl -%}
      rtl: true,
      {%- endif -%}
      navigation: {
        nextEl: '.swiper-next-{{ block.id }}',
        prevEl: '.swiper-prev-{{ block.id }}',
      },
      pagination: {
        el: ".swiper-pagination-{{ block.id }}",
        clickable: true
      },
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
        pauseOnMouseEnter: true
      },
      speed: 1000,
      breakpoints: {
        1199: {
          slidesPerView: 2,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 30,
        },
        1499: {
          slidesPerView: 2,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 30,
        }
      }
    });
  });
</script>

<style>
/*=====================================
  header label css
======================================*/
a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
  color: {{ block.settings.menu_product_label_color }};
  font-size: {{ block.settings.menu_product_label_font_size }}px;
  padding: 2px 5px;
  position: absolute;
  top: -{{ block.settings.menu_product_label_top_position }}px;
  {% if settings.enable_rtl %}
  left: 0;
  transform: translateX(-100%);
  {% else %}
  right: 0;
  transform: translateX(100%);
  {% endif %}
  background-color: {{ block.settings.menu_product_label_bgcolor }};
  text-transform: {{ block.settings.menu_product_label_text_transform }};
  font-weight: {{ block.settings.menu_product_label_font-weight }};
  border-radius: {{ block.settings.menu_product_label_border_radius }}px;
  line-height: {{ block.settings.menu_product_label_line_height }};
}
a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label::before {
  content: "";
  position: absolute;
  bottom: -4px;
  {% if settings.enable_rtl %}
  right: 0;
  {% else %}
  left: 0;
  {% endif %}
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  {% if settings.enable_rtl %}
  border-right: 4px solid {{ block.settings.menu_product_label_bgcolor }};
  {% else %}
  border-left: 4px solid {{ block.settings.menu_product_label_bgcolor }};
  {% endif %}
}
@media (max-width: 1199px) {
  a.link-title span.sp-link-title span.{{ section.id }}-{{ block.id }}-label {
    top: -8px;
  }
}
</style>