<section class="customer-page section-ptb">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="acc-form">
          <div class="log-acc-page">
            <div class="section-capture">
              <div class="section-title">
                <h2>
                  <span>{{ 'customer.reset_password.title' | t }}</span>
                </h2>
                <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
              </div>
            </div>
            <div class="acc-page">
              <div class="login">
                <div class="login-form-container">
                  {% form 'reset_customer_password' %}
                  {{ form.errors | default_errors }}
                  <ul class="fill-form">
                    <li class="log-email">
                      <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
                      <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
                    </li>
                    <li class="log-pwd">
                      <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
                      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
                    </li>
                    <div class="form-action-button">
                      <button type="submit" class="btn btn-style2">{{ 'customer.reset_password.submit' | t }}</button>
                    </div>
                  {% endform %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .customer-page .acc-form .log-acc-page .acc-page {
    max-width: 50%;
    margin: 0 auto;
  }
  @media (max-width: 1199px) {
    .customer-page .acc-form .log-acc-page .acc-page {
      max-width: 60%;
    }
  }
  @media (max-width: 991px) {
    .customer-page .acc-form .log-acc-page .acc-page {
      max-width: 70%;
    }
  }
  @media (max-width: 767px) {
    .customer-page .acc-form .log-acc-page .acc-page {
      max-width: 100%;
    }
  }

  /* form css */
  .customer-page .log-acc-page .login-form-container ul.fill-form li {
    margin-top: 25px;
  }
  .customer-page .log-acc-page .login-form-container ul.fill-form li:first-child {
    margin-top: 0px;
  }
  .customer-page .log-acc-page .login-form-container ul.fill-form li label {
    display: block;
    margin-bottom: 11px;
    cursor: auto;
  }
  .customer-page .log-acc-page .login-form-container input {
    width: 100%;
    background-color: #FFFFFF;
  }
  .customer-page .log-acc-page .login-form-container .form-action-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }
  .customer-page .log-acc-page .login-form-container .form-action-button a {
    display: block;
    color: var(--font-color-body);
    font-size: 16px;
    text-decoration: underline;
    line-height: 1;
    -webkit-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
  }
  .customer-page .log-acc-page .login-form-container .form-action-button a:hover {
    color: var(--font-color-header);
  }
  @media (max-width: 479px) {
    .customer-page .log-acc-page .login-form-container .form-action-button {
      flex-direction: column;
      align-items: flex-start;
    }
    .customer-page .log-acc-page .login-form-container .form-action-button a {
      margin-top: 30px;
    }
  }

  /* error css */
  .customer-page .log-acc-page .errors {
    color: #bd2130;
    font-size: var(--font-size-body);
    padding: 10px 15px;
    margin: 0px 0px 30px;
    background-color: {{ '#bd2130' | color_modify: 'alpha', 0.2 }};
    {% if settings.enable_rtl %}
    text-align: right;
    {% else %}
    text-align: left;
    {% endif %}
    border-radius: 0;
  }
  .customer-page .log-acc-page .errors ul {
    {% if settings.enable_rtl %}
    margin-right: 15px;
    margin-left: auto;
    {% else %}
    margin-left: 15px;
    {% endif %}
    list-style: square;
    border-radius: 0;
  }
  .customer-page .log-acc-page .errors ul li {
    margin-top: 5px;
  }
  .customer-page .log-acc-page .errors ul li:first-child {
    margin-top: 0px;
  }
</style>