{% if template == 'index' %}
<div class="newspopup modal fade" id="news-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        {% form 'customer' %}
        <button type="button" class="close-btn" aria-label="Close btn" data-bs-dismiss="modal"><i class="feather-x"></i></button>
          <div class="subscribe_area">
            <div class="subscribe-content">
              {% if section.settings.news_sub_title != '' %}
              <span data-fade-in style="color: {{ section.settings.news_sub_title_color }};">{{ section.settings.news_sub_title }}</span>
              {% endif %}
              {% if section.settings.news_title != '' %}
              <h2 data-fade-in style="color: {{ section.settings.news_title_color }};">{{ section.settings.news_title }}</h2>
              {% endif %}
            </div>
            <div class="popup-newsletter">
              <div class="subscribe-con">
                {{ form.errors | default_errors }}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="subscribe-block" data-fade-in>
                  <input type="email" name="contact[email]" class="email mail" id="E-mail" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" autocapitalize="off" required>
                  <div class="email-submit">
                    <button type="submit" class="news-btn btn-style3" name="commit" id="Subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
                  </div>
                </div>
              </div>
            </div>
            {% if form.posted_successfully? %}
            <p class="text-success" data-fade-in>
              <span class="subscribe-text">{{ section.settings.newsletter_success_text }} <span class="subscribe-code bg-success">{{ section.settings.newsletter_coupan_code }}</span></span>
            </p>
            {% endif %}
            <div class="dont-show" data-fade-in>
              <label>
                <input type="checkbox" id="1" class="box">
                <span class="cust-check"></span>
                <span>{{ section.settings.dont_show_text }}</span>
              </label>
            </div>
          </div>
          <div class="news-banner">
            {%- if section.settings.news_banner -%}
              {{ section.settings.news_banner | image_url: width: 900, height: 500 | image_tag:
               loading: 'lazy',
               width: section.settings.news_banner.width,
               height: section.settings.news_banner.height,
               class: "img-fluid lazyload desk-img",
               alt: section.settings.news_banner.alt | escape }}
            {%- else -%}
              {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg w-100 h-100' }}
            {%- endif -%}
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  let boxes = document.getElementsByClassName('box').length;
  function save() {
    for(let i = 1; i <= boxes; i++){
      var checkbox = document.getElementById(String(i));
      localStorage.setItem("news_popup", checkbox.checked); 
    }
  }
  for(let i = 1; i <= boxes; i++){
    if(localStorage.length > 0){
      var checked = JSON.parse(localStorage.getItem("news_popup"));
      document.getElementById(String(i)).checked = checked;
    }
  }
  window.addEventListener('change', save);
  addEventListener('DOMContentLoaded', (event) => {
    $(window).on('load',function(){
      setTimeout(function () {
        var popup = localStorage.getItem('news_popup');
        if(popup == null | popup == "false"){
          $('#news-modal').modal('show');
        }
      },{{ section.settings.timeout }});
    });
  });
</script>
<style>
  .newspopup .modal-dialog {
    max-width: 600px;
  }
  .newspopup .modal-content {
    border: none;
    border-radius: 0;
    overflow: hidden;
    background-color: {{ section.settings.modal_bg_color }};
  }
  .newspopup .modal-body {
    padding: 0px;
  }
  @media (max-width: 600px) {
     .newspopup .modal-dialog {
      max-width: 100%;
      margin: 0px;
      padding: 12px;
    }
  }

  /* newsletter close button css */
  .newspopup .modal-body button.close-btn {
    font-size: 20px;
    position: absolute;
    top: 20px;
    {% if settings.enable_rtl %}
    left: 20px;
    {% else %}
    right: 20px;
    {% endif %}
    line-height: 1;
  }
  .newspopup .modal-body button.close-btn:hover {
    opacity: 1;
    color: var(--font-color-primary);
  }
  /* Subscribe content css */
  .newspopup .subscribe_area {
    padding: 45px 60px;
    margin: 0 auto;
    text-align: center;
  }
  .newspopup .subscribe_area .subscribe-content span {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .newspopup .subscribe_area .subscribe-content h2 {
    font-size: 34px;
    font-weight: 500;
    line-height: 1;
  }
  .newspopup .subscribe_area .popup-newsletter {
    margin-top: 30px;
  }
  .newspopup .subscribe_area .popup-newsletter .subscribe-con .subscribe-block {
    position: relative;
    display: flex;
  }
  .newspopup .subscribe_area .popup-newsletter .subscribe-con .subscribe-block input {
    width: 100%;
  }
  .newspopup .subscribe_area .popup-newsletter .subscribe-con .subscribe-block .email-submit {
    margin-inline-start: 10px;
  }
  .newspopup .subscribe_area .popup-newsletter .subscribe-con .subscribe-block .email-submit button {
    height: 100%;
  }
  .newspopup .subscribe_area .dont-show {
    margin-top: 30px;
  }
  .newspopup .subscribe_area .dont-show label {
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newspopup .subscribe_area .dont-show label span {
    font-size: var(--font-size-body);
  }
  .newspopup .subscribe_area .dont-show label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .newspopup .subscribe_area .dont-show label .cust-check {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border: var(--sti-border);
    overflow: hidden;
    background-color: #fff;
    margin-inline-end: 10px;
  }
  .newspopup .subscribe_area .dont-show label .cust-check:after {
    display: none;
    content: "\e92b";
    font-family: feather!important;
    color: #666;
    font-size: 16px;
  }
  .newspopup .subscribe_area .dont-show label input:checked~span.cust-check:after {
    display: block;
  }
  @media (max-width: 767px) {
    .newspopup .subscribe_area {
      padding: 30px 12px;
    }
  }
  @media (max-width: 479px) {
    .newspopup .modal-body button.close-btn {
      top: 10px;
      {% if settings.enable_rtl %}
      left: 10px;
      {% else %}
      right: 10px;
      {% endif %}
    }
    .newspopup .subscribe_area {
      padding: 30px 12px;
    }
    .newspopup .subscribe_area .subscribe-content span {
      font-size: 16px;
    }
    .newspopup .subscribe_area .subscribe-content h2 {
      font-size: 20px;
    }
  }
  @media (max-width: 320px) {
    .newspopup .subscribe_area .popup-newsletter .subscribe-con .subscribe-block {
      flex-direction: column;
    }
    .newspopup .subscribe_area .popup-newsletter .subscribe-con .subscribe-block button {
      margin-top: 10px;
      width: 100%;
    }
  }
  /* newsletter subscribe text success css */
  .newspopup .subscribe_area p.text-success {
    margin-top: 22px;
  }
  .newspopup .subscribe_area p.text-success span.subscribe-text span.subscribe-code {
    color: #FFFFFF;
    padding: 0px 10px;
  }
</style>
{% endif %}
{% schema %}
{
  "name": "Newsletter popup",
  "settings": [
    {
      "type": "number",
      "id": "timeout",
      "label": "How many seconds to show when the website is opened",
      "default": 3000,
      "info": "NOTE: 1000 count euqal to (1 second)"
    },
    {
      "type": "color",
      "id": "modal_bg_color",
      "label": "Modal background color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "news_sub_title",
      "label": "Sub title",
      "default": "Don't miss a thing"
    },
    {
      "type": "color",
      "id": "news_sub_title_color",
      "label": "Sub title color",
      "default": "#676767"
    },
    {
      "type": "text",
      "id": "news_title",
      "label": "Title",
      "default": "Join our newsletter and get 10% off your first order"
    },
    {
      "type": "color",
      "id": "news_title_color",
      "label": "Title color",
      "default": "#2c2c32"
    },
    {
      "type": "textarea",
      "id": "newsletter_success_text",
      "label": "Newsletter Success Text",
      "default": "Thank you for subscribe use this code for first order"
    },
    {
      "type": "text",
      "id": "newsletter_coupan_code",
      "label": "Coupan Code",
      "default": "20%OFF"
    },
    {
      "type": "text",
      "id": "dont_show_text",
      "label": "Dont show text",
      "default": "Don’t show this popup again"
    },
    {
      "type": "image_picker",
      "id": "news_banner",
      "label": "Banner image",
      "info": "Recommended Size: 900x415px"
    }
  ]
}
{% endschema %}